@import url('root.css');

/*Body heseg*/
body {
	background-color: #f4e9e0;
	background-image: radial-gradient(#f6a24a 2px, transparent 2px), radial-gradient(#f6a24a 2px, #f4e9e0 2px);
	background-size: 80px 80px;
	background-position: 0 0, 40px 40px;
	background-attachment: fixed;
	opacity: 1;
	text-align: left;
	overflow-x: hidden;
}

.container {
	margin: 0 1% 5% 4%;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	font-size: 110%;
}

/*Deed taliin processiig aguulagch heseg*/
.process {
	max-width: 27%;
	max-height: 15%;
	width: 100%;
	margin: 5% auto 5% auto;
	display: block;
	align-items: var(--align_items);
	flex-direction: column;
	grid-column: 1 / 4;
	grid-row: 1;
}

/*3 steps iig aguulj bui heseg*/
.process .steps {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*Hurgeltiin zurag*/
.steps>#Ehnii_version {
	width: 20%;
	bottom: 0.3rem;
	left: 10%;
	position: absolute;
}

/*Hurgeltiin zurag 2r version*/
.steps>#Hoyrdugaar_version {
	width: 20%;
	bottom: 0.3rem;
	left: 25%;
	position: absolute;
	display: none;
}

.steps>#Guravdugaar_version {
	width: 20%;
	bottom: 0.3rem;
	left: 70%;
	position: absolute;
	display: none;
}

/*Jiriin uye iin processiin circle*/
.steps .circle {
	background: var(--process_background);
	padding: 2.5% 4%;
	display: flex;
	border-radius: 50%;
	color: #EE3A43;
	align-items: center;
	justify-content: center;
}

/*Activated circle*/
.steps .circle.active {
	background: var(--process_background);
	color: #FFFFFF;
}

/*Processiig holbogch*/
.steps .progress-bar {
	width: 100%;
	height: 0.25rem;
	background: #000000;
	position: absolute;
	z-index: -1;
}

/*3 columniin heseg*/
.Sagsnii_heseg,
.Hurgeltiin_heseg,
.Tulburiin_heseg {
	width: 70%;
	max-width: 18.75rem;
	height: 90%;
	background: var(--column_background);
	padding: 2.75rem 10%;
	border-radius: var(--border_radius);
	grid-row: 2;
}

/*buh garchiguud*/
h2 {
	text-align: center;
}

/*Garchig doorh medeelel*/
.Tulburiin_heseg>section>p,
.Hurgeltiin_medeelel>p,
.Sagsnii_medeelel>p {
	margin-bottom: 10%;
	text-align: left;	
}

/*Garchig doorh zuraas*/
.Tulburiin_doorh_line,
.Hurgeltiin_doorh_line,
.Sagsnii_doorh_line {
	height: 1px;
	background: black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.Tulburiin_doorh_line {
	width: 80%;
}

.Hurgeltiin_doorh_line {
	width: 70%;
}

.Sagsnii_doorh_line {
	width: 30%;
}

/*Hurgeltiin hesgiin section*/
.Hurgeltiin_ner_hayg>form {
	display: grid;
	grid-template-rows: auto auto auto auto auto auto auto auto;
	grid-template-columns: auto;
	row-gap: 3%;
}

/*Hurgeltiin tovch*/
.Hurgeltiin_tovch {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	align-content: center;
}

/*Burtgeliin 2 bagana*/
.Burtgel {
	grid-template-columns: auto auto;
}

/*Burtgeliin labeluud*/
.Burtgel>label {
	margin-right: 15%;
	grid-column: 1;
}

/*Huviin medeelel.Ner hayg geh met*/
.Hurgeltiin_ner_hayg>form>section>label {
	width: 3.438rem;
	height: 1.25rem;
	display: inline-block;
}

/*Ner utas zergiin input*/
.Hurgeltiin_ner_hayg>form>section>input {
	width: 50%;
	background-color: var(--white_color);
	padding: 2%;
	border: 1px solid #000000;
	border-radius: var(--border_radius);
	grid-column: 2;	
}

/*Duureg, horoogiin input*/
.Hurgeltiin_ner_hayg>form>section>#Duureg_id,
.Hurgeltiin_ner_hayg>form>section>#Horoo_id {
	width: 55%;
	background-color: var(--white_color);
	padding: 2%;
	border: 1px solid #000000;
	border-radius: var(--border_radius);
}

.Tulbur {
	padding-top: 10%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	row-gap: 5%;
}

.Tulbur>.Zurag {
	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 5%;
	justify-items: center;
	align-content: center;
	grid-row: 1;
}

/*Qpay heseg*/
.Tulbur>.Zurag>picture>a>#Qpay {
	width: 7.688rem;
	height: 7.688rem;
}

/*Applepay heseg*/
.Tulbur>.Zurag>picture>a>#ApplePay {
	width: 12.5rem;
	height: 8.125rem;
}

/*Creditcard heseg*/
.Tulbur>.Zurag>picture>a>#CreditCard {
	width: 9rem;
	height: 6.313rem;
}

/*Niit uniin  dun*/
.Tulburiin_heseg>.Tulbur>.Niit_une {
	padding-top: 5%;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 12%;
	text-align: left;
	grid-row: 2;
}

/*Niit uniin  dun hesgiin niit*/
.Tulburiin_heseg>.Tulbur>.Niit_une>p:nth-child(1) {
	grid-column: 1;
}

/*Niit uniin  dun hegiin une*/
.Tulburiin_heseg>.Tulbur>.Niit_une>p:nth-child(2) {
	grid-column: 2;
	text-align: right;
}

/*Tulbut tuluh hesgiin tovch*/
.Niit_une>button {
	grid-row: 2;
	grid-column: 1 /3;
	padding: 4% 10%;
}

/*buh tovchnii zagvar*/
.Niit_une>button,
.Hurgeltiin_ner_hayg>form>section>button {
	background-color: var(--white_color);
	border: 1px solid #000000;
	border-radius: var(--border_radius);
	cursor: pointer;
	color: var(--black-color);
}

/*Niit uniin tovch*/
.Niit_une>button,
.Sagsnii_dotorh>.Sags_zahialga>.Sagsnii_tovch>button {
	margin: 0 auto 0 auto;
	display: block;
}

/*Hurgeltiin butsah tovch*/
.Hurgeltiin_ner_hayg>form>.Hurgeltiin_tovch>#Butsah_button {
	margin-top: 1.25rem;
	padding: 8% 15%;
}

/*Hurgeltiin urgeljluuleh tovch*/
.Hurgeltiin_ner_hayg>form>.Hurgeltiin_tovch>#Urgeljluuleh_button {
	margin-top: 1.25rem;
	padding: 4% 15%;
	/* margin: 1.875rem auto 0 0; */
}

/*Zahialgiin heseg*/
.Sagsnii_dotorh>.Sags_zahialga {
	display: grid;
	grid-template-columns: auto;
	gap: 3rem;
}

/*Buteegdehuun1*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun {
	background-color: var(--white_color);
	padding: 1.063rem 0.5rem 0 2.063rem;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	border-radius: var(--border_radius);
	border: 1px solid #000000;

}

/*Buteegdehuun1 iin garchig*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Garchig {
	grid-row: 1;
	grid-column: 1 /3;
}

/*Buteegdehuun1 songolt*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Songolt {
	width: 100%;
	background-color: var(--white_color);
	padding: 2%;
	grid-row: 2;
	grid-column: 1;
	border: 1px solid #000000;
	border-radius: 0.9rem;
}

/*Buteegdehuun1 ustgah tovch*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Ustgah {
	width: 1.75rem;
	height: 1.75rem;
	background-color: var(--white_color);
	margin: auto auto;
	display: block;
	grid-column: 3;
	grid-row: 2;
	border-radius: 50%;
	border: 1px solid #CEB79B;
	cursor: pointer;
	color: #CEB79B;
	/* padding: 30% 40%; */
}

/*Buteegdehuun1 hool nemeh heseg*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh {
	width: 20%;
	grid-row: 3;
	grid-column: 1;
	display: grid;
	grid-template-columns: auto auto auto;
	/* height: 2.188rem; */
}

/*Buteegdehuun1 hool nemeh hasah tovch*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Nemeh,
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Hasah {
	width: 1.75rem;
	height: 1.75rem;
	background-color: var(--white_color);
	margin-top: 0.867rem;
	border-radius: 0.5rem;
	border: 1px solid #000000;
	cursor: pointer;
}

.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Nemeh {
	grid-column: 1;
}

.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>p {
	width: 1.75rem;
	height: 1.75rem;
	grid-column: 2;
	text-align: center;
}

.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Hasah {
	grid-column: 3;
}

/*Buteegdehuun1 hoolnii uniin heseg*/
.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Une {
	grid-row: 3;
	grid-column: 2;
	text-align: left;
}

/*Sagsnii niit une+tovch*/
.Sagsnii_dotorh>.Sags_zahialga>.Sagsnii_tovch {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 21%;
}

/*Sagsnii niit une*/
.Sagsnii_dotorh>.Sags_zahialga>.Sagsnii_tovch>p:nth-child(1) {
	grid-column: 1;
}

/*Sagsnii une*/
.Sagsnii_dotorh>.Sags_zahialga>.Sagsnii_tovch>p:nth-child(2) {
	grid-column: 2;
	text-align: right;
}

/*Sagsnii tovch*/
.Sagsnii_dotorh>.Sags_zahialga>.Sagsnii_tovch>button {
	background-color: var(--process_background);
	padding: 4% 7%;
	grid-row: 2;
	grid-column: 1 /3;
	border: 1px solid #EE3A43;
	border-radius: var(--border_radius);
	cursor: pointer;
	color: var(--white_color);
}

/* Media query */
@media only screen and (max-width: 1023px) and (min-width:768px) {
	.container {
		margin-right: 8%;
		margin-left: 0;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		row-gap: 1%;
		column-gap: 15%;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	/*Deed taliin processiig aguulagch heseg*/
	.process {
		max-width: 40%;
		max-height: 15%;
		width: 100%;
		margin: 8% auto 10% auto;
		display: block;
		grid-column: 1 / 3;
		grid-row: 1;
		font-size: 90%;		
		flex-direction: column;
		align-items: center;
	}


	/*Hurgeltiin zurag*/
	.steps>#Ehnii_version {
		width: 22%;
	}

	/*Hurgeltiin zurag 2r version*/
	.steps>#Hoyrdugaar_version {
		width: 22%;
		display: none;
	}

	.steps>#Guravdugaar_version {
		width: 22%;
		display: none;
	}

	/*Sagsni heseg*/
	.Sagsnii_heseg {
		width: 100%;
		max-width: 16.875rem;
		height: 100%;
		background: var(--column_background);
		margin: 0 1px;
		padding: 2.75rem 10% 0 10%;
		display: none;
		grid-row: 2;
		grid-column: 2;
	}

	/*Hurgelt bolon Tulburiin heseg*/
	.Hurgeltiin_heseg {
		grid-row: 2;
		grid-column: 1;
	}

	.Tulburiin_heseg {
		grid-row: 2;
		grid-column: 2;
	}

	/*Hurgelt bolon Tulburiin heseg*/
	.Hurgeltiin_heseg,
	.Tulburiin_heseg {
		width: 100%;
		max-width: 16.875rem;
		height: 100%;
		background: var(--column_background);
		padding: 2.75rem 10% 0 10%;
		margin: 0 1px;	
	}

	/*3 zurgiig aguulagch section*/
	.Tulbur>.Zurag {
		margin-top: 5%;
		row-gap: 5%;
	}

	/*Qpay heseg*/
	.Tulbur>.Zurag>picture>a>#Qpay {
		width: 6.688rem;
		height: 6.688rem;
	}

	/*Applepay heseg*/
	.Tulbur>.Zurag>picture>a>#ApplePay {
		width: 11.5rem;
		height: 6.813rem;
	}

	/*Creditcard heseg*/
	.Tulbur>.Zurag>picture>a>#CreditCard {
		width: 8rem;
		height: 5.688rem;
	}

	/*Nitt uniin tovch*/
	.Niit_une>button {
		margin-bottom: 8%;
	}
}

@media only screen and (max-width: 767px) {

	/*Aguulagch heseg*/
	.container {
		margin: 4.25rem 10px 4rem 10px;
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto;
		row-gap: 5%;
		align-content: center;
		align-items: center;
		justify-content: center;	
	}

	/*Processiin heseg*/
	.process {
		display: none;
	}

	/*Sagsnii heseg*/
	.Sagsnii_heseg {
		max-width: 25rem;
		height: 95%;
		padding: 1.75rem 15%;
		display: none;
		grid-row: 1 / 3;
	}

	/*Hurgeltiin heseg*/
	.Hurgeltiin_heseg {
		grid-row: 1;
	}

	/*Tulburiin heseg*/
	.Tulburiin_heseg {
		margin-bottom: 1.25rem;
		grid-row: 2;
	}

	/*Hurgelt bolon tulburiin heseg*/
	.Hurgeltiin_heseg,
	.Tulburiin_heseg {
		max-width: 25rem;
		height: 95%;
		padding: 1.75rem 15%;
		/* display: none; */
	}

	/*Buteegdehuun1 ustgah tovch*/
	.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Ustgah {
		width: 1.35rem;
		height: 1.35rem;
		text-align: center;
	}

	/*Buteegdehuun1 hool nemeh hasah tovch*/
	.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Nemeh,
	.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>.Hasah {
		width: 1.35rem;
		height: 1.35rem;
		background-color: var(--white_color);
		margin-top: 0.95rem;
		border-radius: 0.5rem;
		border: 1px solid #000000;
		cursor: pointer;
	}

	.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Hool_nemeh>p {
		width: 1.35rem;
		height: 1.35rem;
		grid-column: 2;
		text-align: center;
		font-size: 95%;
	}

	/*Buteegdehuun1 hoolnii uniin heseg*/
	.Sagsnii_dotorh>.Sags_zahialga>.Buteegdehuun>.Une {
		font-size: 95%;
	}

	/*Hurgeltiin ner hayg avah heseg*/
	.Hurgeltiin_ner_hayg>form {
		row-gap: 1%;
	}

	/*Burtgeliin label section*/
	.Burtgel>label {
		margin-right: 20%;
	}

	/*Huviin medeelel.Ner hayg geh met*/
	.Hurgeltiin_ner_hayg>form>section>label {
		width: 1.138rem;
		height: 0.25rem;
	}

	/*Ner utas zergiin input*/
	/*Duureg, horoogiin input*/
	.Hurgeltiin_ner_hayg>form>section>input,
	.Hurgeltiin_ner_hayg>form>section>#Duureg_id,
	.Hurgeltiin_ner_hayg>form>section>#Horoo_id {
		margin-left: 1.25rem;
	}

	/*Hurgeltiin butsah tovch*/
	.Hurgeltiin_ner_hayg>form>.Hurgeltiin_tovch>#Butsah_button {
		padding: 5% 10%;
	}

	/*Hurgeltiin urgeljluuleh tovch*/
	.Hurgeltiin_ner_hayg>form>.Hurgeltiin_tovch>#Urgeljluuleh_button {
		padding: 5% 10%;
	}

	/*Nitt uniin tovch*/
	.Niit_une>button {
		padding: 3% 8%;
	}

	/*Tulburiin hesgiin section*/
	.Tulbur {
		row-gap: 4%;
	}

	/*3 zurag aguulsn section*/
	.Tulbur>.Zurag {
		margin-top: 5%;
		row-gap: 10%;
	}

	/*Qpay heseg*/
	.Tulbur>.Zurag>picture>a>#Qpay {
		width: 5.688rem;
		height: 5.688rem;
	}

	/*Applepay heseg*/
	.Tulbur>.Zurag>picture>a>#ApplePay {
		width: 10.5rem;
		height: 6.25rem;
	}

	/*Creditcard heseg*/
	.Tulbur>.Zurag>picture>a>#CreditCard {
		width: 7rem;
		height: 4.938rem;
	}
}
